<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org">
<head>
	<meta charset="UTF-8">
	<meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <!-- Bootstrap CSS -->
	<link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta2/dist/css/bootstrap.min.css" rel="stylesheet">
	<link rel="stylesheet" th:href="@{/css/score.css}">
	<title>Score Board</title>
	<body th:style="'background:url(/image/examBackground.PNG)'"  background-size: cover;></body>
</head>
<body>

	<!-- Navbar Start -->
	<nav class="navbar navbar-expand-lg navbar-dark bg-dark" th:fragment="navbar">
	  <div class="container-fluid">
	    <a class="navbar-brand" href="/">Quiz App</a>
	    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
	      <span class="navbar-toggler-icon"></span>
	    </button>
	    <div class="collapse navbar-collapse" id="navbarSupportedContent">
	      <ul class="navbar-nav ms-auto mb-2 mb-lg-0">
	        <li class="nav-item">
	          <a class="nav-link" href="/adminHome">Home</a>
	        </li>
	        <li class="nav-item">
	          <a class="nav-link" href="/addQuestion">Add Question</a>
	        </li>
	        <li class="nav-item">
	          <a class="nav-link" href="/viewQuestion">View Question</a>
	        </li>
	        <li class="nav-item">
	          <a class="nav-link" href="/scoreBoard">Score Board</a>
	        </li>
	        <li class="nav-item">
	          <a class="nav-link" href="/">Logout</a>
	        </li>
	       </ul>
	    </div>
	  </div>
	</nav>
	<!-- Navbar End -->
	
	<!-- Main Container Start -->
	<div class="main-container container py-5 px-4">
		<h3 class="bg-danger text-center mb-5 p-2">All Questions</h3>
		
		<table class="bg-dark text-light">
			<tr>
				<th>No</th>
				<th>Question</th>
				<th>Option 1</th>
				<th>Option 2</th>
				<th>Option 3</th>
				<th>Answer</th>
				<th>Actions</th>
				<th></th>
			</tr>
			<tr th:each="questions : ${qList}">
				<td th:text="${questions.quesId}"></td>
				<td th:text="${questions.title}"></td>
				<td th:text="${questions.optionA}"></td>
				<td th:text="${questions.optionB}"></td>
				<td th:text="${questions.optionC}"></td>
				<td th:text="${questions.ans}"></td>
				<td>
					<a th:href="@{/showQuestionForUpdate/{quesId}(quesId=${questions.quesId})}" class="btn btn-primary">Update</a>
					<a th:href="@{/deleteQuestion/{quesId}(quesId=${questions.quesId})}" class="btn btn-danger">Delete</a>
                </td>
			</tr>
		</table>
	</div>
	
	<h1></h1>
	<footer class="bg-dark text-light" th:fragment="footer">
	
		<p>&copy; Group No : 13</p>
	</footer>
	
	<!-- Bootstrap JS -->
	<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta2/dist/js/bootstrap.bundle.min.js"></script>
</body>
</html>